CorsairDashboard/Service References/HardwareMonitorService/CorsairDashboard.HardwareMonitoring.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CorsairDashboard.HardwareMonitoring" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CorsairDashboard.HardwareMonitoring" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Hardware">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Kind" type="tns:HardwareKind" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sensors" nillable="true" type="tns:ArrayOfHardwareSensor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Hardware" nillable="true" type="tns:Hardware" />
  <xs:simpleType name="HardwareKind">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unkown" />
      <xs:enumeration value="Cpu" />
      <xs:enumeration value="Mainboard" />
      <xs:enumeration value="Ram" />
      <xs:enumeration value="GraphicCard" />
      <xs:enumeration value="HardDisk" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="HardwareKind" nillable="true" type="tns:HardwareKind" />
  <xs:complexType name="ArrayOfHardwareSensor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HardwareSensor" nillable="true" type="tns:HardwareSensor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHardwareSensor" nillable="true" type="tns:ArrayOfHardwareSensor" />
  <xs:complexType name="HardwareSensor">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HardwareSensor" nillable="true" type="tns:HardwareSensor" />
</xs:schema>