CorsairDashboard/Service References/HardwareMonitorService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="HardwareMonitorService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetNamedPipeBinding_IHardwareMonitorService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsam:Addressing>
          <wsp:Policy>
            <wsam:AnonymousResponses>
            </wsam:AnonymousResponses>
          </wsp:Policy>
        </wsam:Addressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/CorsairDashboard.HardwareMonitoring.Hw" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/CorsairDashboard.HardwareMonitoring" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/CorsairDashboard.HardwareMonitoring.Hw.Sensors" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IHardwareMonitorService_Subscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Subscribe" />
  </wsdl:message>
  <wsdl:message name="IHardwareMonitorService_Unsubscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Unsubscribe" />
  </wsdl:message>
  <wsdl:message name="IHardwareMonitorService_OnHardwareMonitorUpdate_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnHardwareMonitorUpdate" />
  </wsdl:message>
  <wsdl:portType name="IHardwareMonitorService">
    <wsdl:operation name="Subscribe">
      <wsdl:input wsam:Action="http://tempuri.org/IHardwareMonitorService/Subscribe" message="tns:IHardwareMonitorService_Subscribe_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Unsubscribe">
      <wsdl:input wsam:Action="http://tempuri.org/IHardwareMonitorService/Unsubscribe" message="tns:IHardwareMonitorService_Unsubscribe_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnHardwareMonitorUpdate">
      <wsdl:output wsam:Action="http://tempuri.org/IHardwareMonitorService/OnHardwareMonitorUpdate" message="tns:IHardwareMonitorService_OnHardwareMonitorUpdate_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetNamedPipeBinding_IHardwareMonitorService" type="tns:IHardwareMonitorService">
    <wsp:PolicyReference URI="#NetNamedPipeBinding_IHardwareMonitorService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/named-pipe" />
    <wsdl:operation name="Subscribe">
      <soap12:operation soapAction="http://tempuri.org/IHardwareMonitorService/Subscribe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Unsubscribe">
      <soap12:operation soapAction="http://tempuri.org/IHardwareMonitorService/Unsubscribe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="OnHardwareMonitorUpdate">
      <soap12:operation soapAction="http://tempuri.org/IHardwareMonitorService/OnHardwareMonitorUpdate" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HardwareMonitorService">
    <wsdl:port name="NetNamedPipeBinding_IHardwareMonitorService" binding="tns:NetNamedPipeBinding_IHardwareMonitorService">
      <soap12:address location="net.pipe://localhost/CorsairHydroHardwareMonitorService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.pipe://localhost/CorsairHydroHardwareMonitorService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>