CorsairDashboard/Service References/HydroService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/CorsairDashboard.Common.Service" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/HydroLib" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetServiceState">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CorsairDashboard.Common.Service" minOccurs="0" name="GetServiceStateResult" type="q1:CorsairHydroServiceState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConnectedDevicesInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConnectedDevicesInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CorsairDashboard.Common.Service" minOccurs="0" name="GetConnectedDevicesInfoResult" nillable="true" type="q2:ArrayOfConnectedDeviceInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ForceRefreshConnectedDevicesInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeForUpdateForDevice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="deviceId" type="q3:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnsubscribeForUpdateForDevice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="deviceId" type="q4:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNumberOfFansForDevice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="deviceId" type="q5:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNumberOfFansForDeviceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetNumberOfFansForDeviceResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLedInfoForDevice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="deviceId" type="q6:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLedInfoForDeviceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/HydroLib" minOccurs="0" name="GetLedInfoForDeviceResult" nillable="true" type="q7:HydroLedInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetLedTemperatureBasedColorForDevice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="deviceId" type="q8:guid" />
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="temperatures" nillable="true" type="q9:ArrayOfunsignedShort" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/HydroLib" minOccurs="0" name="colors" nillable="true" type="q10:ArrayOfHydroColor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetLedTemperatureBasedColorForDeviceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetLedTemperatureBasedColorForDeviceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetLedCycleColorsForDevice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="deviceId" type="q11:guid" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/HydroLib" minOccurs="0" name="color1" nillable="true" type="q12:HydroColor" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/HydroLib" minOccurs="0" name="color2" nillable="true" type="q13:HydroColor" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/HydroLib" minOccurs="0" name="color3" nillable="true" type="q14:HydroColor" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/HydroLib" minOccurs="0" name="color4" nillable="true" type="q15:HydroColor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetLedCycleColorsForDeviceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetLedCycleColorsForDeviceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetLedSingleColorForDevice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="deviceId" type="q16:guid" />
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/HydroLib" minOccurs="0" name="color" nillable="true" type="q17:HydroColor" />
        <xs:element minOccurs="0" name="pulse" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetLedSingleColorForDeviceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetLedSingleColorForDeviceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPwmFanForDevice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="deviceId" type="q18:guid" />
        <xs:element minOccurs="0" name="fanNr" type="xs:int" />
        <xs:element minOccurs="0" name="pwmDutyCycle" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPwmFanForDeviceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetPwmFanForDeviceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetRpmFanForDevice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="deviceId" type="q19:guid" />
        <xs:element minOccurs="0" name="fanNr" type="xs:int" />
        <xs:element minOccurs="0" name="rpm" type="xs:unsignedShort" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetRpmFanForDeviceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetRpmFanForDeviceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetFanModeToDefaultProfileForDevice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="deviceId" type="q20:guid" />
        <xs:element minOccurs="0" name="fanNr" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetFanModeToDefaultProfileForDeviceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetFanModeToDefaultProfileForDeviceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetFanModeToQuietProfileForDevice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="deviceId" type="q21:guid" />
        <xs:element minOccurs="0" name="fanNr" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetFanModeToQuietProfileForDeviceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetFanModeToQuietProfileForDeviceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetFanModeToBalancedProfileForDevice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="deviceId" type="q22:guid" />
        <xs:element minOccurs="0" name="fanNr" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetFanModeToBalancedProfileForDeviceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetFanModeToBalancedProfileForDeviceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetFanModeToPerformanceProfileForDevice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="deviceId" type="q23:guid" />
        <xs:element minOccurs="0" name="fanNr" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetFanModeToPerformanceProfileForDeviceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetFanModeToPerformanceProfileForDeviceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetTemperatureBasedRpmFanForDevice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="deviceId" type="q24:guid" />
        <xs:element minOccurs="0" name="fanNr" type="xs:int" />
        <xs:element xmlns:q25="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="temperatures" nillable="true" type="q25:ArrayOfunsignedShort" />
        <xs:element xmlns:q26="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="rpms" nillable="true" type="q26:ArrayOfunsignedShort" />
        <xs:element minOccurs="0" name="sensorId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetTemperatureBasedRpmFanForDeviceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetTemperatureBasedRpmFanForDeviceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnWaterTemperatureUpdateForDevice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="deviceId" type="q27:guid" />
        <xs:element minOccurs="0" name="temperature" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnFanInfoUpdateForDevice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="deviceId" type="q28:guid" />
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/HydroLib" minOccurs="0" name="fanInfo" nillable="true" type="q29:HydroFanInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>