CorsairDashboard/Service References/HydroService/System.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="TupleOfArrayOfunsignedShortArrayOfunsignedShort0dMmj3_Sh">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TupleOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfunsignedShort" Namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
          </GenericParameter>
          <GenericParameter Name="ArrayOfunsignedShort" Namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
          </GenericParameter>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="m_Item1" nillable="true" type="q1:ArrayOfunsignedShort" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="m_Item2" nillable="true" type="q2:ArrayOfunsignedShort" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TupleOfArrayOfunsignedShortArrayOfunsignedShort0dMmj3_Sh" nillable="true" type="tns:TupleOfArrayOfunsignedShortArrayOfunsignedShort0dMmj3_Sh" />
</xs:schema>